# Settings

# EcoDevice (not the RT one) can be ip address or FQDN
ecodevice = "192.0.2.1"

# Use EcoDevice or EDF "API"
use_eco = True

# MQTT Broker (or GX with MQTT enabled)
gx = "192.0.2.2"

# Note Publish R/<sn>/keepalive -> montre l'arbre des bidules

# GX device to be found with N/<number>/system/0/Serial
gxsn = "123456789abc"

# Max Charge according to colors
chgbleu  = 80   # Jours Bleus
chgblanc = 90   # Jours Blanc
chgrouge = 95   # Jours Rouge / On VenusOS < 3.10 set this to 95%
                # A 95% a cause des histoires de charges fantomes qui sont a corriger.
# Min Charge according to colors
minbleu  = 30   # Jours Bleus
minblanc = 30   # Jours Blanc
minrouge = 25   # Jours Rouge

